* {
    box-sizing: border-box;
}

body {
    background-color: dimgray;
}

img, a, label, input {
    display: block;
}

a {
    text-decoration: none;
}

a:focus {
    color: #00654C;
}

/*wrap 整體排版*/
.wrap {
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto;
}

/*top-bar*/ 
.top-bar {
    background-color: #F0F0F0;
    padding: 5px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar-link {
    padding: 0 10px;
    display: flex;
}

.top-bar-link:hover {
    text-decoration: underline;
}

.top-bar-link img {
    margin-right: 3px;
}

.top-bar #id_fb {
    color: #4460A0;
}

.top-bar #id_tw {
    color: #00AAEC;
    border-left: 1px solid gray;
}

/*header*/
.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
}

.menu-btn a {
    color: #00CC99;
}

.menu-btn:hover {
    border-bottom: 4px solid #00CC99;
}

/*banner*/
.banner {
    padding-left: 20px;
    font-size: 35px;
    color: #ffffff;
    height: 340px;
    background-image: url("../img/banner.png");
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    line-height: 1.5;
}

/*course-list*/
.course-list {
    padding: 30px 20px;

    display: flex;
    justify-content: space-between;
}

.course {
    width: 30%;
    box-shadow: 2px 2px 5px 1px #E0E0E0;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-logo {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-name {
    font-size: 20px;
    margin: 10px 0;
}

.course-description {
    font-size: 18px;
}

/*comparing*/
.comparing {
    padding: 20px;
    margin-bottom: 20px;
}

.comparing-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.comparing-table {
    margin: 0 auto;
}

.comparing-table td {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 90px 10px 20px;
}

.comparing-courses {
    font-weight: bold;
    background-color: #E0E0E0;
}

.comparing-table .emphasize {
    color: #00CC99;
}

/*sign-up*/
.sign-up {
    background: linear-gradient(#00654C,#009772);
    padding: 20px 10px;
}

.sign-up-title{
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.sign-up-form {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
}

.sign-up-info, .sign-up-text {
    color: #ffffff;
    width: 45%;
}

.sign-up-info .blank {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.sign-up-info .btn-zone {
    display: flex;
    justify-content: flex-end;
}

.sign-up-info .btn-zone .submit {
    color: #ffffff;
    background-color: #00CC99;;
    padding: 5px 18px;
    border-radius: 5px;
    border: none;
}

.sign-up .btn-zone .submit:hover {
    background-color: #00654C;
}

/*footer*/
.footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    margin: 10px 0;
}

.contact-info a {
    color: #FF60AF;
    display: inline;
}

.contact-info a:hover {
    text-decoration: underline;
}